.profile-cont{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #1A1A1A;
    display: flex;
}
.profile-img{
    height: 100%;
    width: 40%;
    /* overflow: hidden; */
}

.profile-img img{
    height: 100%;
}
.profile-data-sec{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome{
    color: #fff;
    font-size: 4rem;
}
.welcome span{
    color: #dc493a;
}
.profile-btn{
    width: 100%;
    margin-top: 2rem;
}
.profile-btn button{
    width: 60%;
    height: 3rem;
    border: none;
    outline: none;
    background-color: #dc493a;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor:pointer;
}
.weather-sec{
    color: #dc493a;
    position: absolute;
    top: 4rem;
    right: 2rem;
}
.w-temp{
    display: flex;
    align-items:center ;
}

.choose-profile{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.choose-profile img{
    height: 5rem;
    width: 5rem;
    margin: 2rem 0;
    cursor: pointer;
    border-radius: 50%;
}
@media (max-width: 480px)  {
    .profile-cont{
        flex-direction: column;
    }
    .weather-sec{
        left: 5px;
    }
    .profile-img{
        width: 100%;
    }
    .profile-data-sec{
        width: 100%;
    }
    .profile-cont{
        overflow: auto;
    }
    .welcome{
        font-size: 4rem;
        margin-left: 2rem;
    }
    .profile-btn button{
        margin-left: 2rem;
    }
    .choose-profile{
        width: 100%;
        flex-direction: row;
        
    }
    .choose-profile img{
        margin: 1rem 2rem;
    }
}

@media (min-width: 481px) and (max-width: 1000px){

    .profile-cont{
        flex-direction: column;
    }
    .weather-sec{
        left: 5px;
    }
    
    .choose-profile{
        width: 100%;
        flex-direction: row;
        
    }
    .choose-profile img{
        margin: 1rem 2rem;
    }
    .profile-img{
        width: 100%;
    }
    .profile-img img{
        width: 80%;
    }
    .profile-data-sec{
        width: 100%;
    }
    .profile-cont{
        overflow: auto;
    }
    .welcome{
        font-size: 5rem;
        margin-left: 2rem;
    }
    .profile-btn button{
        margin-left: 2rem;
    }
}