.modal-sec{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000000000000;
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(235, 14, 14, 0.301);
}

.modal-cont{
    height: 80%;
    width: 80%;
    background-color: rgb(0, 0, 0);
    position: relative;
}
.modal-close{
    height: 3rem;
    width: 3rem;
    background: rgba(0, 0, 0, 0.719);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 8px;
    top: 8px;
    border-radius: 50%;
    z-index: 18;
}
.modal-close img{
    height: 1.5rem;
    cursor: pointer;
    z-index: 20;
}
@media (max-width: 480px){
    .modal-cont{
        height: 50%;
    }
}