.navbar-sec{
    position: absolute;
    top: 0;
    height: 4.5rem;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #fff;
}
.nav-routes{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.navLink{
    text-decoration: none;
    color: #fff;
}
.nav-logo{
    text-decoration: none;
    color: #fff;
}
.nav-routes span{
    margin: 0 1rem;
    font-size:15px ;
}
.hamburger{
    display: none;
}
.nav-routes span:hover{
    color: #dc493a;
}
.up-arrow{
    height: 1.5rem;
    display: none;
}
@media (max-width: 480px)  {
    .nav-routes{
        background-color: rgba(0, 0, 0, 0.664);
        flex-direction: column;
        height:15rem;
        width: 100%;
        position: absolute;
        justify-content: space-evenly;
        right: 0;
        top: -20rem;
        transition: all 1s;
    }
    .nav-routes-active{
        top: 0;
    }
    .up-arrow{
        display: block;
        cursor: grab;
    }
    .nav-routes span{
        font-size: 1.3rem;
        letter-spacing: 4px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
    }
    .hamburger{
        display: block;
    }
}