.vedioListing-cont-sec{
    min-height: 100vh;
    height: auto;
    width: 100%;
    overflow: hidden;
    background: #121212;
}
.vediolisting-heading{
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 1.2;
    color: #fff;
    padding: 0 2rem;
    padding-top: 6rem;
}
.loadImg{
    width: 100%;
}


.vediolisting-category{
    color: #fff;
    padding:3rem 0;
    opacity: 0.6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
}
.vediolisting-category span{
    margin: 0 2rem;
    cursor: pointer;
    font-weight: 600;
}
.search-field{
    width: 100%;
    padding: 3rem 2rem;
}
.search-field input{
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #dc493a;
    letter-spacing: 1px;
    border-radius: 25px;
    width: 35rem;
}
.link{
    text-decoration: none;
    color: #fff;
}
.vediolisting-category span:hover{
    color: #dc493a;
}
.vedio-cards-cont{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    
}
.loadmore-cont{
    height: 3rem;
    width: 100%;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;
    background-color: #c54638b7;
}
.loadmore-cont:hover{
    background-color: #dc4a3ad7;
}
.paginate-img-loading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginate-img-loading img{
    height: 5rem;
}
@media (max-width: 480px)  {
    .vediolisting-category span{
        margin: 1.8rem;
    }
    .vediolisting-category span:nth-child(4n+1){
        display: none;
    }
    .search-field input{
        width: 100%;
    }
}